COMPOSE_PROJECT_NAME=quant_system

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=quant_admin
POSTGRES_PASSWORD=quant_local_password
POSTGRES_DB=quant_system

REDIS_HOST=localhost
REDIS_PORT=6379

TZ=Asia/Shanghai
