COMPOSE_PROJECT_NAME=quant_system

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=quant_admin
POSTGRES_PASSWORD=quant_local_password
POSTGRES_DB=quant_system

REDIS_HOST=localhost
REDIS_PORT=6379

QUANT_DATA_HUB_PORT=18000

CLICKHOUSE_HTTP_URL=http://host.docker.internal:18123
CLICKHOUSE_DATABASE=quant_market
CLICKHOUSE_USER=quant
CLICKHOUSE_PASSWORD=

TZ=Asia/Shanghai
